body {

    /* first lesson*/
    
    background-color: #fffb01;
    
    }
    
    header {
    
    /* first lesson*/
    
    background-color: rgb(242, 145, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    }
   .links{

    display: inline;
    
    padding-left: 33px;
    
    padding-right: 25px;
    
    font-family: fantasy;
    
    font-size: 20px
    
    } 
    .menu {
    
position: fixed;
 top: 0px;
 z-index: 10;
 margin-top: 0px;
 width: 100%;
    background-color: rgb(24, 0, 244);
    
    }
  
  
    #intro {
    
    /* first lesson*/
    
    background-color: rgb(246, 0, 0);
    
    }
    
    .main-section-content h2 {
    
    /* first lesson*/
    
    background-color: darkkhaki;
    
    }
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    background-color: rgb(80, 245, 3);
    
    }
    
    header,
    
    nav,
    
    #intro,
    
    #main-section,
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    border: 1px solid black;
    
    }
    
    header,
    
    nav,
    
    #main-section {
   
        border-radius: 10px;
        border-color: #ee160f;
    /* first lesson*/
    
    border-radius: 10px;
    
    }
    
    header h1 {
        margin: 30px;
    
    /* first lesson*/
    